{% extends 'base.html' %}
{% block content %}
  <main>
    <section id="hero">
      <div class="container">
        <h1>Сервис API для образовательных платформ</h1>
        <p>
          С помощью нашего сервиса вы сможете интегрировать технологию компьютерного зрения в вашу образовательную платформу и улучшить процесс обучения ваших учеников.
        </p>
        <a href="#" class="btn">Попробовать бесплатно</a>
      </div>
    </section>
    <section id="features">
      <div class="container">
        <h2>Преимущества использования нашего сервиса</h2>
        <ul>
          <li>
            <h3>Повышение эффективности обучения</h3>
            <p>
              Система компьютерного зрения помогает отслеживать работу учеников и предлагать индивидуальные задания, подходящие именно для них.
            </p>
          </li>
          <li>
            <h3>Удобное и простое API</h3>
            <p>
              Наши разработчики создали API, который легко интегрировать в любую образовательную платформу, без особых знаний программирования.
            </p>
          </li>
          <li>
            <h3>Безопасность и конфиденциальность данных</h3>
            <p>Мы гарантируем безопасность и конфиденциальность данных учеников, которые передаются через наш сервис.</p>
          </li>
        </ul>
      </div>
    </section>
    <section id="cta">
      <div class="container">
        <h2>Начните использовать наш сервис уже сегодня!</h2>
        <a href="#" class="btn">Попробовать бесплатно</a>
      </div>
    </section>
  </main>
{% endblock content %}
