{% extends 'base.html' %}
{% block content %}
    <section id="hero">
        <div class="container">
            <h1>UpVision</h1>
            <p>
                UpVision предоставляет следующие услуги: определение лица и выражения на лице, определение направления взгляда, определение моментов, когда студент отвлекается от курса, а также определение уровня активности.
            </p>
            <a href="#" class="btn">Узнать больше</a>
        </div>
    </section>
    <section id="features">
        <div class="container">
            <h2>Наши услуги</h2>
            <ul>
                <li>
                    
                    <h3>Определение лица и выражения на лице</h3>
                    <p>API Service позволяет определять лица и выражения на лице.</p>
                </li>
                <li>
                    
                    <h3>Определение направления взгляда</h3>
                    <p>API Service позволяет определять направление взгляда.</p>
                </li>
            </ul>
            <br><br<br>
            <ul>
                <li>
                    <h3>Определение моментов, когда студент отвлекается от курса</h3>
                    <p>API Service позволяет определять моменты, когда студент отвлекается от курса.</p>
                </li>
                <li>
                    <h3>Определение уровня активности</h3>
                    <p>API Service позволяет определять уровень активности.</p>
                </li>
            </ul>
        </div>
    </section>
    <section id="cta">
        <div class="container">
            <h2>Начните использовать UpVision сегодня!</h2>
            <a href="#" class="btn">Начать бесплатно</a>
        </div>
    </section>
{% endblock content %}
